#
# dyndns config file
#
[main]
# account_file : files where you store your accounts
#
account_file = account

# warning_message : display warning message. Can be 'disable' (default: enable)
#
warning_message = disable

# colorize_stdout : display the stdout with color (default: disable)
#
colorize_stdout = disable

[smtp]
# smtp_server : the smtp serveur you use to send emails
#               if localhost, you need to install an smtp service in your host
#
smtp_server = localhost

# auto_send_mail : automatically send notification after each update (default: disable)
#
auto_send_mail = disable

# local_mail : the address who must appear in the "from:" field
#
local_mail  = me@example.com

# remote_mail : your recipient
#
remote_mail = you@example.com

# mail_subject : set the template of the mail subject
#
# {hostname} : hostname of your host
# {ip}       : ip address of your host
#
mail_subject_change_ok = [DYNDNS] update ip successfull. New IP for {hostname} is {ip}
mail_subject_no_change = [DYNDNS] no need to update {hostname}.
mail_subject_on_error  = [DYNDNS] nothing good happens to {hostname}.

# mail_text : set the template of the email text
#             please use "\n" for new line
# {hostname} : hostname of your host
# {ip}       : ip address of your host
#
mail_text_change_ok = Cool,\n\nthe new IP address is {ip} for your host {hostname}.\n\nRegards.
mail_text_no_change = No need to update {hostname}.\nYour current IP is {ip}
mail_text_on_error  = Something is wrong with {hostname}.\nPlease, go ahead and fix the problem.

